<%- include('./templates/header.ejs'); %>

<div class = "d-flex justify-content-center row mt-3">
    <p class="text-danger"> <%=error%></p> 
</div>
<div class = "d-flex justify-content-center row">
    <a href="/" class="btn btn-secondary">Voltar para home</a>
</div>



</body>
</html>